#***q4os*setup*config*header*do*not*delete*it***#

TEMPLATES_DIR_0="$TEMPLATESDIR0"
TEMPLATES_DIR="setup_templates"
OUT_DIR="../setup_out"

CHKINSTALL_COMMAND="cp -r filesystem/* /"
INSTALL_PREFIX="/"
SETUP_TYPE="2"
Q4VER_MIN="3.0"
# Q4VER_MAX="3.9999"
CHK_INET="1"

LANGUAGE_PACKAGE="libreoffice-l10n--xxlangcodexx-, hunspell--xxlangcodexx-, mythes--xxlangcodexx-, hyphen--xxlangcodexx-, libreoffice-help--xxlangcodexx-"

PK_NAME="libreoffice-extq"
APPNAME_DESC="Libre Office"
PK_VERS="4.3"
PK_RELEASE="a1"

PK_PRE_DEPENDS="libc6, libreoffice"
PK_DEPENDS="q4os-desktop \(\>= 3.0\), $PK_PRE_DEPENDS"
# PK_RECOMMENDS="ca-certificates-java, default-jre, default-jre-headless, dictionaries-common, emacsen-common, firebird2.5-common, firebird2.5-common-doc, firebird2.5-server-common, fonts-sil-gentium, gconf-service, gconf2, gconf2-common, gnome-mime-data, gstreamer1.0-plugins-base, hunspell-en-us, java-common, libasyncns0, libatk-wrapper-java, libatk-wrapper-java-jni, libavahi-glib1, libbonobo2-0, libbonobo2-common, libcanberra0, libcdparanoia0, libfbclient2, libfbembed2.5, libgconf-2-4, libgconf2-4, libgif4, libgnome-2-0, libgnome2-0, libgnome2-bin, libgnome2-common, libgnomevfs2-0, libgnomevfs2-common, libgnomevfs2-extra, libgtk2.0-bin, libhsqldb1.8.0-java, liborbit-2-0, libpaper-utils, libpulse0, libreoffice-sdbc-firebird, libreoffice-sdbc-hsqldb, libsctp1, libservlet2.5-java, libsndfile1, libtheora0, libvisual-0.4-0, libvisual-0.4-plugins, libvorbisenc2, lksctp-tools, openjdk-7-jre, openjdk-7-jre-headless, tzdata-java"
PK_RECOMMENDS="libsane, libpaper-utils, libreoffice-style-breeze, libreoffice-style-colibre, libreoffice-writer, libreoffice-calc, libreoffice-impress, libreoffice-draw, libreoffice-math"
PK_CONFLICTS="q4os-desktop \(\<\< 3.0\), libreoffice-q4"

# APP_REPO="deb http://q4os.org/qextrepo <distro>-libreoffice-cn main"
PK_MAINTAINER="q4osteam@q4os.org"
APPLNK_ENTRY="0"
# MENU_ENTRY="0"
# DESKTOP_ENTRY="0"
# REG_ENTRY="0"
# UNINSTALL_ENTRY="0"
# APP_ECONFIG="appconfig.rc"
APP_ICON="libreoffice-main"
APP_LINK="libreoffice"

# UNINST_ADPCKS="libreoffice-common, libreoffice-core, libreoffice-gtk3, libreoffice-kf5, libreoffice-kf6, libreoffice-kde5, libreoffice-plasma, libreoffice-style-breeze, libreoffice-style-colibre, libreoffice-writer, libreoffice-calc, libreoffice-impress, libreoffice-draw, libreoffice-math, libreoffice"
UNINST_ADPCKS="libreoffice-*, libreoffice"

INCLUDE_DEB="0"
INCLUDE_DEBS="0"
CREATE_ESH="1"
QS_ARCHES="all"
