Source: libreoffice-extq
Section: none
Priority: optional
Maintainer: Q4OS Team <devteam@q4os.org>
Build-Depends: debhelper (>= 9~), q4os-devpack-base
Standards-Version: 3.8.4

Package: libreoffice-extq
Architecture: all
Pre-Depends: libreoffice
Depends: q4os-desktop (>= 4.0)
Recommends: libsane, libpaper-utils, libreoffice-style-breeze, libreoffice-style-colibre, libreoffice-writer, libreoffice-calc, libreoffice-impress, libreoffice-draw, libreoffice-math
Conflicts: q4os-libreoffice
Replaces:
Breaks:
Description: LibreOffice metapackage

# PK_RECOMMENDS="ca-certificates-java, default-jre, default-jre-headless, dictionaries-common, emacsen-common, firebird2.5-common, firebird2.5-common-doc, firebird2.5-server-common, fonts-sil-gentium, gconf-service, gconf2, gconf2-common, gnome-mime-data, gstreamer1.0-plugins-base, hunspell-en-us, java-common, libasyncns0, libatk-wrapper-java, libatk-wrapper-java-jni, libavahi-glib1, libbonobo2-0, libbonobo2-common, libcanberra0, libcdparanoia0, libfbclient2, libfbembed2.5, libgconf-2-4, libgconf2-4, libgif4, libgnome-2-0, libgnome2-0, libgnome2-bin, libgnome2-common, libgnomevfs2-0, libgnomevfs2-common, libgnomevfs2-extra, libgtk2.0-bin, libhsqldb1.8.0-java, liborbit-2-0, libpaper-utils, libpulse0, libreoffice-sdbc-firebird, libreoffice-sdbc-hsqldb, libsctp1, libservlet2.5-java, libsndfile1, libtheora0, libvisual-0.4-0, libvisual-0.4-plugins, libvorbisenc2, lksctp-tools, openjdk-7-jre, openjdk-7-jre-headless, tzdata-java"
