Source: libreoffice-extq
Section: none
Priority: optional
Maintainer: Q4OS Team <devteam@q4os.org>
Build-Depends: debhelper (>= 9~), q4os-devpack-base
Standards-Version: 3.8.4

Package: libreoffice-extq
Architecture: all
Pre-Depends: libreoffice
Depends: q4os-desktop (>= 4.0)
Recommends: libsane, libpaper-utils, libreoffice-gtk3, libreoffice-gtk4, libreoffice-kf5, libreoffice-kf6, libreoffice-style-breeze, libreoffice-style-colibre, libreoffice-writer, libreoffice-calc, libreoffice-impress, libreoffice-draw, libreoffice-math
Conflicts: q4os-libreoffice
Replaces:
Breaks:
Description: LibreOffice metapackage
